/**/
.visually-hidden{
    display: none;
}

                                /* FONTS */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/**/

                                /* HEADER */

html{
    min-height: 100%;
}

ol{
    padding: 0; /*for ol*/
    margin:0;   /*for ol*/
}

body{
    margin: 0;
    background: #F2F2F2;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
}
.body-container{
    width:1200px;
    justify-content: center;
    background-color:white;
    color:white;
    padding:0;
    margin: 0 auto 0 auto;
    box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.20);
}

header{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

header .logo-container{
    position:relative;
    width:140px;
}
header .logo-container a{
    position: absolute;
    z-index: 100;
}

header .header-main-navigation{
    display:flex;
    flex-direction: row;
    margin-right:auto;
    gap:30px;
    margin-left: 70px;
    font-weight: 700;
}

header .header-main-menu{
    display:flex;
    flex-direction: row;

    margin-left:auto;
    margin-right:70px;
}

header ul{
    padding:0;
    display: inline;
}

header li{
    display: inline;
    white-space: nowrap;
}

header .header-main-navigation li{
    padding:20px 16px;
}

header .header-main-menu li{
    padding:22px 12px;
}

header .header-main-menu button{
    font-size: 16px;
}

header .header-main-menu .nav-favorite{

    margin-top: auto;
    margin-bottom: auto;
}

header .header-main-menu .round{
    color: #FFF;
    position: relative;
    left: -10px;
    right: 0;
    top: -15px;
    bottom: 0;
    margin: auto;
    margin-bottom: 0;
    margin-right: 0;
    background-color: #7DB54F;
    border-radius: 10px;
    font-size: 12px;
    padding: 3px;
}

.current-page{
    border-bottom: 2px solid #756257;
    padding-bottom: 5%;
}

.brown-button{
    background:#756157;
    width:160px;
    padding:8px 0;
}

.hotel-search-label .brown-button{
    width:auto;
    padding:8px 50px;
}

.blue-button{
    background-color: #82B3D3;

    padding:8px 0;
}

.frame-box .blue-button{
    width:auto;
}

/* .blue-button{
    background-color: none;
} */

button, .href-button, input[type=submit], input[type=reset]{
    margin:auto;
    border:none;
    color: #FFFFFF;
    padding:8px 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;

}

a, a:visited, a:active{
    text-decoration: none;
    color:black;
}

.href-button, .href-button:visited, .href-button:active{
    color: #FFFFFF;
}

                                /* MAIN */

.header-main-menu form{
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.popup-fade{
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(242, 242, 242, 0.80);
    pointer-events: none; /* элемент невидим для событий мыши */
}

.popup-fade:target{
    display: block;
    pointer-events:all /* элемент невидим для событий мыши */
}

.modal-window{
    border-radius: 30px;
    display: flex;
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    background-color: #FFF;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    /* transition: opacity 200ms ease-in; */

    width: 717px;
    height: 50%;
    padding:64px 70px;
}

.modal-form-button{
    width:100%;
    height: 12%;
    text-align: center;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    text-transform: uppercase;
    text-align: center;
}

.modal-window .form .date-container{
    display: flex;
    flex-direction: column;
    gap:48px;
    width: 100%;
}

.modal-window .form .date-frame{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-window .form .date-frame label{
    margin-right: 50px;
    margin-left: 0;
    width:100%;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
}

.modal-window .form .date-frame input{
    margin-left: auto;
    margin-right: 0;
    width: 3000px;
    padding:12px 20px;
    border-radius: 4px;
}

.modal-window .form input[type=date]{
    border: none;
    background-color: #F2F2F2;
}
.modal-window .form{
    display:flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}
.modal-window{
    display:flex;
    flex-direction: row-reverse;
    justify-self: center;
}

.quantity-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.modal-window .close-modal-btn{
    background-color: white;
    color: none;
    height: 52px;
    width: 52px;
    background-image: url("../images/index/modal-close.svg");
    background-repeat: no-repeat;
    margin-right: 0;
    padding: 0;
}

.quantity-container button{
    width:auto;
    padding:14px 10px;
    margin:0;
    border-radius: 0;
}

.children-label{
    display: flex;
    margin-right: 46px;
}

.quantity-container label{
    margin-top: auto;
    margin-bottom: auto;
    font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
text-transform: capitalize;
margin-right: 46px;
}

.quantity-container .btn-minus{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.quantity-container .btn-plus{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.children-label label{
    display: flex;
    margin-right: 10px;
}


.quantity-container input{
    height:auto;
    border: none;
    background-color: #F2F2F2;
    padding:14px 10px;
    width:20px;
    justify-content: space-between;
}

.quantity-container .adults-contanier{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-left: 0;
}

.quantity-container .children-contanier{
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: auto;
}

.modal-window .form .title{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.modal-window .form .container{
    display: flex;
    flex-direction: column;
    gap:48px;
    justify-content: center;
    align-items: center;
}

/* .hero-welcome-banner{

} */

.hero-banner-container{
    position: relative;
    overflow: hidden;
}

.hero .background{
    width:100%;
}

.hero .welcome{
    size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    margin-top: 5%;
    /* margin-top: 170px; */
}

.hero-frame{
    position:absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    margin-bottom: 0;
}

.advantages-label .photo-container{
    display: flex;
    width: 100%;
}

.advantages-label .frame-line, .recomendations-label .frame-line {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-grow: 3;
}

.frame-box{
    position: relative;
}

.frame-box .text-container{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.advantages-label .frame-box, .recomendations-label .frame-box{
    display:flex;
    flex-flow: row wrap;
    padding:0;
    margin:0;
    width: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    background-size:cover;
}

.advantages-label .frame-line:first-of-type .frame-box, .advantages-label .frame-line:last-of-type .frame-box{
    background-color: #82B3D3;
    color: #FFF;
}

.title{
    font-weight: 700;
}

.advantages-label .frame-line:nth-of-type(2) .frame-box .title{
    color: #000;
}

.advantages-label .frame-line:nth-of-type(2) .frame-box .description{
    color: #333;
}

.advantages-label .frame-line:nth-of-type(2) .frame-box:nth-of-type(odd){
    background-color: #83B3D31F;
}

.advantages-label .frame-line:nth-of-type(2) .frame-box:nth-of-type(even){
    background-color: #83B3D333;
}


.advantages-label .frame-line .frame-box hr{
    border-width: 1px;
    width: 60px;
    padding:0;
    margin-top:30px;
    margin-bottom:30px;
    height: 0;
}

.advantages-label .frame-line:nth-of-type(2) hr{
    color: rgba(0, 0, 0, 0.30);
    background: rgba(0, 0, 0, 0.30);;
    background-color: rgba(0, 0, 0, 0.30);
    border-color: rgba(0, 0, 0, 0);
}

.advantages-label .frame-line:first-of-type hr, .advantages-label .frame-line:last-of-type hr{
    color: rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.30);
    background-color: rgba(255, 255, 255, 0.30);
    border-color: rgba(255, 255, 255, 0);
}

.advantages-label .text-container, .recomendations-label .text-container{
    text-align: center;
    justify-content: center;
    padding:85px;

}

.advantages-label .frame-box .title, .recomendations-label .frame-box .title{
    margin:0;
    font-size: 24px;
    font-style: normal;
    line-height: 28px; /* 116.667% */
    text-transform: uppercase;
}

.advantages-label .frame-box .description,.recomendations-label .frame-box .description{
    margin:0;
    /* Texts/Text blocks */
    font-size: 18px;
    font-style: normal;
}

.recomendations-label .frame-box:nth-of-type(odd){
    background-color: #83B3D31F;
}

.recomendations-label .frame-box:nth-of-type(even){
    background-color: #FFFFFF;
}

.recomendations-label .text-container .description{
    color: #333333;
}
.recomendations-label .text-container .title{
    color: black;
    padding:0;
    margin-top:30px;
    margin-bottom:30px;
}

.inviting-label .text-container p, .hotel-search-label .text-container p{
    margin:0;
}

.hotel-search-label .frame-box{
    padding: 64px 0 64px 0;
}

.inviting-label .text-container{
    padding: 64px 0 64px 0  ;
}

.label button{
    font-size: 20px;
}

.label .frame-box{
    text-align:center;
    display: flex;
    flex-direction: column;
    gap:54px;

}

.label .text-container{
    text-align:center;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.hero .label .text-container{
    gap:25px;
    padding: 69px 0 69px 0;
}

.label .text-container .title{
    color: #000;
    font-size: 30px;
    font-style: normal;
    line-height: 36px; /* 120% */
    text-transform: uppercase;
    margin:0;
}

.label .text-container .description{
    color: #333;
    /* Texts/Text basic */
    font-size: 22px;
    font-style: normal;
    line-height: 26px; /* 118.182% */
    margin:0;
}

.newslatter-label .frame-box{
    background-image: url("../images/index/subscribe-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newslatter-label .text-container .title{
    color:#FFFFFF;
}

.newslatter-label .text-container .description{
    color:#FFFFFF;
}

.newslatter-label .frame-box{
    display:flex;
    flex-direction: column;
    padding: 96px 258px 104px 258px;
}

.newslatter-form{
    display: flex;
    flex-direction: row;
}

.newslatter-form .email-input{
    background-color: #F2F2F2;
    border:none;
    border-radius: 4px 0 0 4px;
    padding:0 20px;
    width:100%;
}

.newslatter-form .submit-input{
    border-radius: 0 4px 4px 0;
    font-size:20px;
}

                                /* FOOTER */

footer .contacts-frame span{
    margin-left:auto;
    padding:5px 194px 5px 195px;
}

footer .contacts-frame span a{
    width:331px;
    height:40px;
    font-size:40px;
    text-align:center;
}

footer .contacts-frame li{
    padding:0 10px;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding: 40px 70px 30px 70px;
}

footer .contacts-frame{
    text-align: justify;
    display:flex;
    flex-direction: row;
    width:100%;
    padding:0;
    margin:0;
    /*justify-content: space-between;*/
}
footer .contacts-frame ul{
    display:flex;
    padding:0;
    margin:0;
    margin-top:auto;
    margin-bottom:auto;
}

footer .contacts-frame li{
    margin:auto;
    display:inline;
}

footer .html-academy-logo{
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:0;
}
