/* preprocedure */
.visually-hidden{
    display: none;
}

/* HEADER */

.header ul{
    padding: 0;
    margin: 0;
    display:inline;

}

/* nav.main-navigation li{
    padding: 10px;
    display: inline;
    font-family: sans-serif;
} */

/* .main-menu-list li{
    padding: 10px;
    display: inline;
    font-family: sans-serif;
} */

/* MAIN */

/* FOOTER */
div.footer-contacts li{
    display: inline;
    padding: 10px;
}

.footer-phone-number{
    margin: 25px;
    font-size: 30px;
}

.footer-htmlacademy-link{
    margin: 15px;
}
